<br>
<center>
  <div class="social">
    <p>Be Cool</p>

    <div class="social-counter">
      <a class="twitter-follow-button" href="https://twitter.com/PrettyCrappyWeb"></a>

      <span class="ig-follow" data-id="b9045cae8f" data-handle="prettycrappy" data-count="true" data-size="medium" data-username="true"></span>
    </div>

    <div class="social-no-counter">

      <a class="twitter-follow-button" href="https://twitter.com/PrettyCrappyWeb" data-show-count="false" data-show-screen-name="false"></a>
      <br>
      <span class="ig-follow" data-id="b9045cae8f" data-handle="prettycrappy" data-count="false" data-size="medium" data-username="false"></span>

    </div>
    <p>Follow Us</p>
    
  </div>
</center>
