<%- title "PrettyCrappy | About" %>

<% meta description: "PrettyCrappy and creator basic information", keywords: %w(about information creator)%>

<div class="container-wh">
	<h2>About PrettyCrappy!</h2>
	<p>
		PrettyCrappy.com is a collection of pretty crappy situations that we all face constantly, stories are 100% genuine, and are posted by our community.
		we are a site without any filter, where you can express your stories as you feel them, unburden your self, and make others laugh at your disgrace.
		Here you have a place to share your disgraces and blunders and bloomers anonymously and also figure out that there's always someone with worst luck than you.
	</p>

	<h2>How Does PrettyCrappy Work?</h2>
	<p>
		You simply post a story, you do not need an account for that, you can also vote Funny if you find a story funny or Deserved, if you think that the person that posted the story totally deserved that, you can also comment on each story, but you will need an account for that, when you log in into your account, you can track how many posts and comments you have posted and also a user rank, that will increase everytime you post, comment and receive votes on your posts.
	</p>

	<h2>About Me</h2>
	<p>
		Behind PrettyCrappy there is a engineering student who really finds awesome how a uncomfortable crappy situation, can turn out to be a great story to tell and laught at in the near future.
		if you wanna say hi or whatever, you can find me <a href="https://twitter.com/sebasdeldi">HERE</a>
	</p>

</div>