@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);


$primary-color: #303030;
$secondary-color: #48494e;
$dark-orange: #FF4400;
$light-orange: white;
$nice-green: green;
$combine-white: #a1a1a1;

@import "posts";
@import "users";
@import "sessions";



.container-wh{
	margin-top: 55px;
	background-color:white;
	margin-left: 55px;
    margin-right: 55px;
    padding:30px;
}

html{
	overflow-x:hidden;
	width:100%;
}


body{

	


	@media screen and (max-width: 400px){
		footer{
			font-size: 11px;
		}
	}
	
	.ig-follow{
		margin-bottom: 10px;

	}

	.social{
		p{
			font-size: 18px;
			font-weight: bold;
			color: $dark-orange;
		}
		span{
			margin-top: 10px;
		}
		font-size: 18px;
		font-weight: bold;
		background-color: $primary-color;
		padding: 25px;
		margin-right: 20px;
		margin-left: 20px;
		border-radius: 3px;
		margin-bottom:20px;

		@media screen and (min-width: 1100px){
		  .social-no-counter {
		  	display: none;
		  }
		}

		@media screen and (max-width: 1100px){
		  .social-counter {
		  	display: none;
		  }
		}
	}
	@media screen and (max-width: 893px){
		.social {
		
			padding-top: 15px;
			margin-top:0;
		}
	}




	.comment-no-logged-msg{
		color: $primary-color;
		text-align: center;
		background-color: $dark-orange;
		padding: 5px;
		border-radius: 3px;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 20px;
		
		
	}

	label{
		color: white;
	}

	.btn{
		border-radius: 3px;
	}

	
	
	.btn-orange{
		background-color: $dark-orange;
		color: $primary-color;
		font-weight: bold;
	}

	.lbl{
		color: white;
	}

	.fa .fa-mars, .fa-venus, .fa-transgender-alt{
		font-size: 30px;
		margin-left: 20px;
	}

	.body-text{
		color:white;
	}

	.body-text:hover{
		text-decoration: none;
	}

	.alert-danger{
		border-radius: 0px;
		margin-bottom: 0px;
	}

	.last-btn-index{
		margin-top: 10px;
		margin-bottom: 17px;
		font-size: 25px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.btn-grey{
		background-color: $dark-orange;
		margin-bottom: 35px;
	}

	.btn-grey:hover{
		background-color: $secondary-color;
		color: $dark-orange;
	}

	.lower{



		li{
			font-weight: bold;
		}
		.widgets-sm{
			margin-top: 0;
			margin-left: 70px;
			margin-right: 70px;

			
			
			

			.widgets-footer-position{





				.user-info-lower{
				
					padding-top: 20px;
					padding-left: 1%;

					p{font-weight: bold; margin-bottom: 10px;}

					h4{
						color: $primary-color;
						font-weight: bold;
					}

					img{
						margin-bottom: 20px;
					}

					a{
					
						color: $primary-color;
						font-weight: bold;
					}

					a:hover{
						color: white;
					}
				}

				.no-padding{
					padding: 0;
				}

				display: -webkit-flex;		
				display: -ms-flexbox;		
				display: flex;
				overflow: hidden;




				.user-lower{

					@media screen and (max-width: 496px) {
						img{
							width:55px;
							height: 55px;
						}

						h4{
							font-size: 12px;
							font-weight: bold;
						}

						p{
							font-size: 12px;
							font-weight: bold;
						}
					}


					.log-or-reg{
						padding-top: 60px;
						padding-left: 20px;
						padding-right: 20px;

						a{
							color: $primary-color;
							font-weight: bold;
							font-size: 18px;

						}

						a:hover{
							color: white;
						}

						p{
							margin-top: 20px;
							font-weight: bold;
							font-size: 18px;
							color: white;
						}
					}

					background-color: $dark-orange;
					-webkit-order: 0; 
					    -ms-flex-order: 0; 
					        order: 0;
				}




				.social-lower{
					padding-top: 5px;
					background-color: white;
					-webkit-order: 0; 
					    -ms-flex-order: 0; 
					        order: 0;
					
					        
							
							.social{
								padding-left: 0;
								padding-right: 0;
			
							}
					        @media screen and (max-width: 496px) {
					        	.social p{
					        		font-size: 12px;
					        	}
					        }


					        @media screen and (max-width: 409px) {
					        	.social p{
					        		font-size: 11px;
					        	}
					        }


				}


				.categories-lower{


					@media screen and (max-width: 496px) {
						a{
							font-size:11px;
						}

					
					}


					padding: 20px;
					background-color: white;
					-webkit-order: 0; 
					    -ms-flex-order: 0; 
					        order: 0;

					a:hover{
						color: $primary-color;
					}
				}
				
			}
		}

		@media screen and (min-width: 892px){
			.widgets-sm{
				display: none;
			}
		}
	}
	

	@media screen and (max-width: 560px){
		.main-container{
			font-size: 12px;
		}

		.post-info{
			font-size: 10px;
		}
	}

	@media screen and (max-width: 697px){
	  .main-container {
	  	margin: 0 !important;
	  }

	  .navbar{
	  	margin-bottom: 0;
	  }

	  .widgets-sm {
	  	margin: 0 !important;
	  }
	}


	.main-container{

		display: -webkit-flex;		
		display: -ms-flexbox;		
		display: flex;
		overflow: hidden;
		
		.no-padding{
			padding-left: 0px;
			padding-right: 0px;
		}
		
		margin-top: 35px;
		margin-left: 70px;
		margin-right: 70px;


		.posts-portion{

			padding-top: 50px;
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 10px;
			background-color: $primary-color;
			height: 100%;
			

			.post-anon-disclaimer{
				color: white;
				margin-bottom: 50px;
				text-align: justify;
			}



			.pagination {
			  a {
			  	padding-left: 10px;
			  	padding-right: 10px;
			  	border-radius: 3px;
			  }
			  
			  .previous_page { background:$dark-orange; color:$primary-color; font-weight: bold; margin: 5px; }
			  .previous_page.disabled { background: white; color: $primary-color; font-weight: bold; padding-left: 10px; padding-right: 10px; border-radius: 3px; margin: 5px;}
			  .current { background-color: $secondary-color; font-weight: bold; color: white; padding-left: 10px; padding-right: 10px; border-radius: 3px;margin: 5px; }
			  .next_page { background:$dark-orange; color:$primary-color; font-weight: bold;margin: 5px;}
			  .next_page.disabled { background: white; color: $primary-color; font-weight: bold; padding-left: 10px; padding-right: 10px; border-radius: 3px;margin: 5px;}
			}



			.post-container{
				background-color: $secondary-color;
				color: white;
				margin-bottom: 20px;
				padding: 15px;
				border-radius: 4px;
				text-align: justify;


				/*VOTES STYLING*/

				

				.post-buttoms{
					margin-top: 15px;
					font-weight: bold;

					
					
					@media screen and (max-width: 560px) {
						.btn-votes{
							font-size: 11px;
							display: block;
							margin-bottom: 7px;
						}

						.btn-deserved{
							font-size: 11px;
							display: block;
							margin-bottom: 7px;
						}

						.btn-comment{
							font-size: 11px;
							display: block;

						}
					}


				

			


					.btn-votes{
						padding-top: 0;
						padding-bottom: 0;
						background-color: $primary-color;


						.upvote-count { 
							color: $dark-orange;
						}	
					}

					.btn-deserved{
						padding-top: 0;
						padding-bottom: 0;
						background-color: $primary-color;

						.upvote-count { 
							color: $dark-orange;
						}	
					}

					.btn-comment{
						padding-top: 0;
						padding-bottom: 0;
						background-color: $dark-orange;
						color: $primary-color;
						font-weight: bold;
					}

					.post-upvote {
					  
					  &.upvote-active {
					    .btn-votes{
					    	border-color: $dark-orange;
					    }
					    .btn-deserved{
					    	border-color: $dark-orange;
					    }
					    .upvote-count { 
					    	
					    	font-weight: bold;
					    }
					  
					  }
					}

				}

				.slash{
					color: $primary-color;
					font-weight: bold;
				}

				/*THIS PART, CREATES THE COMMENTS COUNT BUBBLE*/

				.comment-tag {
				    position: absolute;
				    width: 42px;
				    height: 36px;
				    background: transparent url(comments-box.png) top left;
			   	 	margin-left: -28px;
				    margin-top: -25px;
				    background-position: -155px 0px;

				    .comment-count{
				    	margin-left: 15px;
				    	margin-top: 7px;
				    	color: $primary-color;
				    	font-weight: bold;
				    }

				}



			}

			.for-posts{
				height: 200px;
				margin-bottom: 30px;
			}

			.separator{
				margin-bottom: 30px;
			}
		}

		@media screen and (max-width: 892px ){
			
			.col-sm-3{
				display: none;
			}

			.col-sm-9{
				width: 100%;
			}
		}


		

		.widgets-portion{

			@media screen and (min-width: 993px) {
				.users-data-sm{
					display:none;
				}
			}

			@media screen and  (max-width: 993px) {
				.user-data{
					display:none;
				}

				.users-data-sm{
					background-color: #48494e;
					border-radius: 3px;
					text-align: center;
					p{
						color: $dark-orange;
						font-weight: bold;
						font-size: 16px;
					}
				}

				.widgets-upper{
					height: 350px !important;

					.btn{
						font-size: 15px;
						padding-bottom: 0;
					}

					p{
						margin-top: 0 !important;
						font-size: 13px ;
					}
				}
			}

			

	
			.widgets-upper{
				padding-top: 10px;
				padding-left: 25px;
				padding-right: 25px;
				background-color: $secondary-color;
				height: 370px;

				a{
					margin-top: 0px;
				}

				p{
					color: $dark-orange;
					font-weight: bold;
					font-size: 16px;
				}

				.color-white{
					color: white;
					margin-top: 15px;
				}

				.btn-grey{
					background-color: $dark-orange;
					font-weight: bold;
				}

				.btn-grey:hover{
					background-color: $primary-color;
					color: $dark-orange;
				}
			}

			

			.widgets-lower{

			

				/*@media screen and (max-width: 925px ){
					
					a{
						font-size: 15px;
					}
				}

				@media screen and (max-width: 1096px ){
					
					.social{
						display: none;
					}
				}*/


				background-color: white;

				
				
				.categories{
					font-size: 18px;
					font-weight: bold;
					margin-top: 20px;
				}
				a:hover{
					color: $primary-color;
					text-decoration: none;
				}
			}
		}
		
	}


	

	.main-container .col:nth-child(1) { 
	  background: $primary-color;
	  -webkit-order: 0; 
	      -ms-flex-order: 0; 
	          order: 0;
	}


	.main-container .col:nth-child(2) { 
	  background: white;
	  -webkit-order: 0; 
	      -ms-flex-order: 0; 
	          order: 0;
	}
	


	.last{
		margin-top: 50px;
	}

	.form-control{
		border-radius: 3px;
	}

	h1{
		color: $dark-orange;
		margin-bottom: 50px;
	}

	a{
		color: $dark-orange;
		text-decoration: none;
	}

	a:hover{
		color: white;
		text-decoration: none;
	}

	font-family: 'Roboto Slab', serif;

	* {
	  box-sizing: border-box;
	}

	.background-image {
	  background-image: url(/assets/background.jpg);
	  background-size: cover;
	  display: block;
	  filter: blur(50px);
	  -webkit-filter: blur(50px);
	  height: 800px;
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: -100;
	}

	.content {
	  background: rgba(255, 255, 255, 0.35);
	  border-radius: 3px;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	  top: 10px;
	  left: 0;
	  position: fixed;
	  margin-left: 20px;
	  margin-right: 20px;
	  right: 0;
	  z-index: 2;
	  padding: 0 10px;
	}

	.navbar-default{
		border-radius: 0px;
		background-color: $primary-color;
		border: 0px;
		padding: 0;
		width: 102%;



		.navbar-brand{
			font-size: 30px;
			font-family: 'Candal', sans-serif;
			color: $light-orange;
			margin-bottom: 3px;
			.dark-orange{color: $dark-orange;}			
		}

		.navbar-brand:hover{
			color: $light-orange;
		}

		.navbar-nav{
			padding-left: 15px;
			a{
				font-size: 15px;			
				color: white;
				margin-right: 15px;
				margin-top: 5px;
			}

			a:hover{
				color:$dark-orange;
			}
			
			
		}

		/*ALL THIS MEDIA QUERY FIXES THE NAVBAR CRAZY CHANGE FOR WIDHTS BELLOW 990PX*/

		

		@media screen and (max-width: 995px) {
		    .navbar-header {
		        float: none;
		    }
		    .navbar-left,.navbar-right {
		        float: none !important;
		    }
		    .navbar-toggle {
		        display: block;
		    }
		    .navbar-collapse {
		        border-top: 1px solid transparent;
		        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		    }
		    .navbar-fixed-top {
		        top: 0;
		        border-width: 0 0 1px;
		    }
		    .navbar-collapse.collapse {
		        display: none!important;
		    }
		    .navbar-nav {
		        float: none!important;
		        margin-top: 7.5px;
		    }
		    .navbar-nav>li {
		        float: none;
		    }
		    .navbar-nav>li>a {
		        padding-top: 10px;
		        padding-bottom: 10px;
		    }
		    .collapse.in{
		        display:block !important;
		    }
		   .navbar-nav .open .dropdown-menu {
		       position: static;
		       float: none;
		       width: auto;
		       margin-top: 0;
		       background-color: transparent;
		       border: 0;
		       -webkit-box-shadow: none;
		       box-shadow: none;
		    }
		}
	}

	@media screen and (max-width: 697px){
	  footer {
	  	margin: 0 !important;
	  }
	}

	footer{
		margin-left: 55px;
		margin-right: 55px;
		background-color: $secondary-color;
		padding: 20px;
		text-align: center;
		color: white;
	}

}

