






/*THIS CLASS SOLVES THE EXTRA LARGE STRINGS THAT WEREN'T FULLY CONTAINED IN THE CONTAINER
*/

.post-info{
	color: $dark-orange;
	text-align: right;
	font-size: 12px;
}

.hyphenate {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.create-post-portion{
	margin-top: 80px;

	.input-lg{

	
		border-radius: 3px;
		height: 250px;
			
	}

	.btn-lg{

		background-color: $nice-green;
		color: white;
	}
}

.comments-section{
	
	.img-circle{
		width: 35px;
		height: 35px;
		margin-right: 20px;
	}

	b{
		margin-right: 20px;
	}
}

