


.main-container{
	
	.no-padding{
		padding-left: 0px;
		padding-right: 0px;
	}

	margin-top: 35px;
	margin-left: 70px;
	margin-right: 70px;


	.posts-portion{

		padding: 50px;
		background-color: $primary-color;

		.post-container{
			background-color: $secondary-color;
			color: white;
			margin-bottom: 20px;
			padding: 15px;
			border-radius: 4px;
		}

		.for-posts{
			height: 200px;
			margin-bottom: 50px;
		}
	}

}



/*THIS CLASS SOLVES THE EXTRA LARGE STRINGS THAT WEREN'T FULLY CONTAINED IN THE CONTAINER
*/

.hyphenate {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.create-post-portion{
	margin-top: 80px;

	.input-lg{

	
		border-radius: 3px;
		height: 250px;
			
	}

	.btn-lg{

		background-color: $nice-green;
		color: white;
	}
}

