.user-global{
	background-color: $primary-color;
	padding: 20px;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;

	.user-info{
		margin-bottom: 30px;
		img{
			margin-top: 15px;
		}
		p{
			text-align: center;
		}
	}

	.user-data{
		background-color: $secondary-color;
		border-radius: 3px;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}